.tetris__wrapper {
  display: flex;
}
.tetris__canvas,
.next__canvas {
  border: 2px solid black;
}
.info__wrapper {
  margin-left: 20px;
}
.tetris__title {
  width: 200px;
  height: 70px;
  border: 3px solid black;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 20px;
}
.gameover {
  position: absolute;
  top: 250px;
  width: 300px;
  height: 50px;
  border: 2px solid red;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.level-btn__wrapper {
  margin-top: 10px;
  display: flex;
}
.level-btn__wrapper > i {
  cursor: pointer;
}
.hidden {
  display: none;
}
