.container {
  border: 1px solid black;
  border-radius: 5px;
  /* position: absolute; */
  float: left;
}

.wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

.town {
  border: 1px solid black;
  border-radius: 5px;
  /* padding: 10px;
  margin: 10px; */
}

.red-border {
  border: 1px solid red;
}
